<app-nav></app-nav>
<h4 class="display-4 text-center">Business partners</h4>
<div class="row  mt-3 mb-3">
  <form class="col-md-6 offset-md-3">
    <div class="row no-gutters align-items-center">
      <div class="col">
        <input
          class="form-control form-control-lg form-control-borderless"
          type="search"
          placeholder="Search value"
          #searchBusinessPartner
        />
      </div>
      <div class="col-auto">
        <button
          class="btn btn-lg btn-primary"
          type="submit"
          (click)="search(searchBusinessPartner.value)"
        >
          <i class="fa fa-search"></i> Search
        </button>
      </div>
    </div>
  </form>
  <button class="btn btn-success btn-lg ml-4" [routerLink]="['/businessPartner/add']">
    <i class="fa fa-plus"></i> Add business partner
  </button>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>PIB</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let businessPartner of all">
      <th scope="row">{{ businessPartner.id }}</th>
      <td>{{ businessPartner.name }}</td>
      <td>{{ businessPartner.pib }}</td>
      <td>{{ businessPartner.address }}</td>
      <td class="h5">
        <a
          class="badge badge-primary"
          [routerLink]="['/business-partner/edit', businessPartner.id]"
          ><i class="fa fa-edit"></i> Edit</a
        >
      </td>
      <td class="h5">
        <a
          class="badge badge-danger text-white"
          *ngIf="loggedIn() && isAdmin()"
          (click)="delete(businessPartner.id)"
          style="cursor: pointer"
        >
          <i class="fa fa-trash"></i> Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>

<div class="row d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="10"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
