<app-nav></app-nav>
<h4 class="display-4 text-center">Preduzeća</h4>
<div class="row  mt-3 mb-3">
  <form class="col-md-6 offset-md-3">
    <div class="row no-gutters align-items-center">
      <div class="col">
        <input
          class="form-control form-control-lg form-control-borderless"
          type="search"
          placeholder="Vrednost za pretragu"
        />
      </div>
      <div class="col-auto">
        <button class="btn btn-lg btn-primary" type="submit">
          <i class="fa fa-search"></i> Pretraži
        </button>
      </div>
    </div>
  </form>
  <button class="btn btn-success btn-lg ml-4" [routerLink]="['/company/add']">
    <i class="fa fa-plus"></i> Dodaj preduzeće
  </button>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Naziv</th>
      <th>PIB</th>
      <th>Adresa</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of all">
      <th scope="row">{{ company.id }}</th>
      <td>{{ company.name }}</td>
      <td>{{ company.pib }}</td>
      <td>{{ company.address }}</td>
    </tr>
  </tbody>
</table>
