<app-nav></app-nav>
<div class="row  mt-3 mb-3">
  <button class="btn btn-success btn-lg ml-4" [routerLink]="['/unit/add']">
    <i class="fa fa-plus"></i> Add unit
  </button>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let unit of all">
      <th scope="row">{{ unit.id }}</th>
      <td>{{ unit.name }}</td>
      <td class="h5">
        <a class="badge badge-primary" [routerLink]="['/unit/edit', unit.id]">
          <i class="fa fa-edit"></i> Edit</a
        >
      </td>
      <td class="h5">
        <a
          class="badge badge-danger text-white"
          *ngIf="loggedIn() && isAdmin()"
          (click)="delete(unit.id)"
          style="cursor: pointer"
        >
          <i class="fa fa-trash"></i> Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
<div class="row d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="10"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
