<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" style="cursor: pointer"
        >Pocetna</a
      >
      <a class="navbar-brand" [routerLink]="['/warehouse']" style="cursor: pointer"
        >Magacin</a
      >
      <a class="navbar-brand" [routerLink]="['/unit']" style="cursor: pointer"
        >Mera</a
      >
      <a class="navbar-brand" [routerLink]="['/product']" style="cursor: pointer"
        >Roba</a
      >
      <a class="navbar-brand" [routerLink]="['/company']" style="cursor: pointer"
        >Preduzece</a
      >
      <a class="navbar-brand" [routerLink]="['/business-partner']" style="cursor: pointer"
        >Partneri</a
      >
      <a class="navbar-brand" [routerLink]="['/location']" style="cursor: pointer"
        >Lokacija</a
      >
    </div>
  </nav>
  