<app-nav></app-nav>
<h4 class="display-4 text-center">Mesta</h4>
<div class="row  mt-3 mb-3">
  <form class="col-md-6 offset-md-3">
    <div class="row no-gutters align-items-center">
      <div class="col">
        <input
          class="form-control form-control-lg form-control-borderless"
          type="search"
          placeholder="Vrednost za pretragu"
          #searchLocation
        />
      </div>
      <div class="col-auto">
        <button
          class="btn btn-lg btn-primary"
          type="submit"
          (click)="search(searchLocation.value)"
        >
          <i class="fa fa-search"></i> Pretraži
        </button>
      </div>
    </div>
  </form>
  <button class="btn btn-success btn-lg ml-4" [routerLink]="['/location/add']">
    <i class="fa fa-plus"></i> Dodaj mesto
  </button>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Naziv</th>
      <th>Poslovni partneri</th>
      <th>Obriši</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let location of allLocations |
    paginate: {
       itemsPerPage: 5, 
       currentPage: page, 
       totalItems: totalLength}">
      <th scope="row">{{ location.id }}</th>
      <td>{{ location.name }}</td>
      <td class="h5">
        <a
          class="badge badge-secondary"
          *ngIf="loggedIn() && isAdmin()"
          [routerLink]="['/locations/businessPartners', location.id]"
        >
          <i class="fa fa-info"></i> Prikaži partnere</a
        >
      </td>
      <td class="h5">
        <a
          class="badge badge-danger text-white"
          *ngIf="loggedIn() && isAdmin()"
          (click)="delete(location.id)"
          style="cursor: pointer"
        >
          <i class="fa fa-trash"></i> Obriši</a
        >
      </td>
    </tr>
  </tbody>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</table>