<app-nav></app-nav>
<h4 class="display-4 text-center">Robne kartice</h4>
<div class="container col-lg-8" *ngFor="let card of productCards">
  <div class="card text-center">
    <div class="card-header">
      Robna kartica za robu: {{card.product.name}} | Godina kartice: {{card.businessYear.year}}
    </div>
    <div class="card-body">
      <p class="card-text">
        <br />
        Ukupna količina: {{ card.totalAmount }}
        <br />
        Ukupna vrednost: {{ card.totalValue }}
      </p>
    </div>
    <div class="card-footer text-muted">
      <button type="submit" class="btn btn-success btn-lg ml-3"  [routerLink]="['/product-card/id', card.id]">Pogledaj detalje</button>
    </div>
  </div>
  <br />
</div>