<app-nav></app-nav>
<div class="col-lg-6" style="margin: auto">
  <h3 style="text-align: center">Dokument</h3>
  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Datum</label>
        <input
          name="datum"
          [(ngModel)]="invoice.dateOfFormation"
          type="text"
          class="form-control"
          placeholder="Datum"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Poslovna godina</label>
        <input
          name="poslovnaGodina"
          [(ngModel)]="invoice.businessYear.year"
          type="text"
          class="form-control"
          placeholder="Poslovna godina"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Vrsta</label>
        <select
          *ngIf="newEntry"
          #selectVrsta
          id="vrstaSelect"
          class="form-control"
        >
          <option selected [(ngValue)]="Primka">Primka</option>
          <option [(ngValue)]="Otpremnica">Otpremnica</option>
        </select>
        <input
          *ngIf="newEntry == false"
          name="vrsta"
          [(ngModel)]="invoice.documentType"
          type="text"
          class="form-control"
        />
      </div>
    </div>

    <div class="form-group">
      <label>Magacin</label>
      <select *ngIf="newEntry" #selectWarehouse class="form-control">
        <option [ngValue]="null">Izaberite magacin</option>
        <option *ngFor="let w of warehouses" [ngValue]="w">{{ w.name }}</option>
      </select>
      <input
        *ngIf="newEntry == false"
        name="magacin"
        [(ngModel)]="invoice.warehouse.name"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>Poslovni partner</label>
      <select *ngIf="newEntry" #selectBusinessPartner class="form-control">
        <option [ngValue]="null">Izaberite poslovnog partnera</option>
        <option *ngFor="let p of businessPartner" [ngValue]="p">{{ p.name }}</option>
      </select>
      <input
        *ngIf="newEntry == false"
        name="poslovniPartner"
        [(ngModel)]="invoice.businessPartner.name"
        type="text"
        class="form-control"
      />
      <br />
    </div>

    <div class="form-group">
        <label>Roba</label>
        <select *ngIf="newEntry" #selectRoba class="form-control">
          <option [ngValue]="null">Izaberi robu</option>
          <option *ngFor="let t of tempProductList" [ngValue]="t">{{ t.name }}</option>
        </select>
        <input
          *ngIf="newEntry == false"
          name="poslovniPartnerasd"
          [(ngModel)]="lineItem.product"
          type="text"
          class="form-control"
        />
        <br />
    </div>
    <div class="form-group">
      <label for="inputPassword4">Unesite kolicinu</label>
      <input
        name="price"
        [(ngModel)]="lineItem.price"
        type="text"
        class="form-control"
        placeholder="Kolicina"
      />
    </div>
    <div class="form-group">
      <label for="inputPassword4">Unesite cenu</label>
      <input
        name="quantity"
        [(ngModel)]="lineItem.quantity"
        type="text"
        class="form-control"
        placeholder="Cena"
      />
    </div>
    <div class="col-lg-4" style="margin: 10px auto">
      <button
        *ngIf="!newEntry"

        class="btn btn-primary"
      >
        {{ status }}
      </button>
    </div>
    <p style="color:red; text-align: center">{{ errorMsg }}</p>
    <div class="col-lg-4" style="margin: 10px auto">
      <button
        *ngIf="newEntry"
        (click)="saveInvoice()"
        class="btn btn-success"
      >
        Sacuvaj
      </button>
    </div>
  </form>
  <br />
  <br />
</div>

